body {
    background: #000;
    font-family: 'Press Start 2P', cursive;
  }
  
  #calculator {
    width: 300px;
    margin: 100px auto;
    background: #000;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ffff;
    overflow: hidden;
  }
  
  #display {
    height: 60px;
    background: #000;
    color: #0f0;
    margin-bottom: 10px;
    text-align: right;
    line-height: 60px;
    padding-right: 20px;
    border-bottom: 1px solid #fff;
  }
  
  #buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  button {
    height: 60px;
    font-size: 20px;
    border: none;
    outline: none;
    color: #000;
    background: #0f0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
  }
  
  button:active {
    background: #00ff00;
  }
  
  .operator {
    background: #f90;
  }
  
  .equals {
    background: #0f9;
    grid-column: span 2;
  }
  
  .clear, .backspace {
    grid-column: span 2;
  }
  